<html ng-app="crudApp">
<head>
<title>Change Log to Browser Info</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- Include main CSS -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Include jQuery library -->
<script src="js/jQuery/jquery.min.js"></script>
<!-- Include AngularJS library -->
<script src="lib/angular/angular.min.js"></script>
<!-- Include Bootstrap Javascript -->
<script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container wrapper" ng-controller="DbController">
<h1 class="text-center">Change Log to Browser Info</h1>
<nav class="navbar navbar-default">
<div class="navbar-header">
<div class="alert alert-default navbar-brand search-box">
<button class="btn btn-primary" ng-show="show_form" ng-click="formToggle()">Add Record <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</div>
<div class="alert alert-default input-group search-box">
	<span class="input-group-btn">
<select class="form-control" ng-model="col">
                                    <option value="emp_date">Roll-Out Date</option>
                                    <option value="emp_firstbin">First Binfo</option>
                                    <option value="emp_countries">Countries</option>
                                    <option value="emp_demos">Demos</option>
                                    <option value="description">Description</option>
                                    <option value="notes">Notes</option>
                                </select>
        Search: <input type="text" class="form-control" placeholder="Search Record Details" ng-model="searchWord[col]"/>   
</span>
       </div>
</div>
</nav>
<div class="col-md-6 col-md-offset-3">

<!-- Include form template which is used to insert data into database -->
<div ng-include src="'templates/form.html'"></div>

<!-- Include form template which is used to edit and update data into database -->
<div ng-include src="'templates/editForm.html'"></div>
</div>
<div class="clearfix"></div>

<!-- Table to show employee detalis -->
<div class="table-responsive">
<table class="table table-hover">
<tr>
<th>Record ID</th>
<th>Roll-out Date</th>
<th>First Binfo Week Affected </th>
<th>Countries Impacted</th>
<th>Demos Impacted</th>
<th>Description of Changes implemented</th>
<th>Additional Notes</th>
<th></th>
<th></th>
</tr>
<tr ng-repeat="detail in details| filter:searchWord">
<td>
<span>{{detail.emp_id}}</span></td>
<td>{{detail.emp_date}}</td>
<td>{{detail.emp_firstbin}}</td>
<td>{{detail.emp_countries}}</td>
<td>{{detail.emp_demos}}</td>
<td>{{detail.description}}</td>
<td>{{detail.notes}}</td>
<td>
<button class="btn btn-warning" ng-click="editInfo(detail)" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
</td>
<td>
<button class="btn btn-danger" ng-click="deleteInfo(detail)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
</td>
</tr>
</table>
</div>
</div>
</div>
<!-- Include controller -->
<script src="js/angular-script.js"></script>
</body>
</html>